//====================================================================================================
.page {

    // .page__intro
    &__intro {
        position: relative;
        background: black url("@img/main-intro.jpg") no-repeat center center / contain;
        min-height: 70vh;

        @media (max-width:$mobileSmall){
            background-position: center 60%;
        }
    }

    &__features {
        padding-top: rem(60);
        padding-bottom: rem(40);
        background-color: #F4F4F4;

        @media (max-width:$mobile){
             background-color: white; 
        }

    }
}

//====================================================================================================
//Intro section:
.intro-section {

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(15);
        // padding-top: rem(50);
        @include adaptiveValue("padding-top", 250, 25, 0, 3840, 2000);

        @media (max-width:$tablet){
            padding-top: rem(80);
        }
    
        @media (max-width:$mobile){
            padding-top: rem(75);
        }
        // .title__label
        &__label {
            color: $reverseColor;
            font-size: rem(82);
            font-weight: 700;
            line-height: 1;
            
    
            @media (max-width:$mobile){
                font-size: rem(72);
            }
            @media (max-width:$mobileSmall){
                font-size: rem(48);
            }
        }
        // .title__value
        &__value {
            color: $accentColor;
            font-family: Lato;
            font-size: rem(30);
            font-weight: 400;
            line-height: 1;
            text-align: center;
            
            @media (max-width:$mobile){
                font-size: rem(24);
            }
            @media (max-width:$mobileSmall){
                font-size: rem(18);
                line-height: math.div(24 ,18);
            }
    
            // .title__value_sub
            &_sub {
                color: $dimmingColor;
                font-family: Montserrat;
                font-size: rem(16);
                font-weight: 400;
                line-height: 1;
    
                @media (max-width:$mobile){
                    font-size: rem(14);
                }
            }
        }
    }
    
    // .intro-section__action
    &__action {
        position: absolute;
        bottom: rem(-65);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(19);
        

    }
    // .intro-section__button
    &__button {
        
        color: $reverseColor;
        font-size: rem(21);
        font-weight: 700;
        line-height: math.div(22 ,21);
        text-align: center;
        background-color: $accentColor;
        border-radius: rem(40);
        padding: rem(20);
        width: 120%;
        transition: all 0.2s ease 0s;
        
        

        @media (max-width:$mobile){
             font-size: rem(18);
        }

        @media (max-width:$mobileSmall){
            font-size: rem(16);
            width: 180%;
       }

       @media (any-hover: hover){
        &:hover{
            
            background-color: $reverseColor;
            color: $accentColor;
            box-shadow:inset 0px 0px 0px 1px $dimmingColor;
        }
       }
    }
    // .intro-section__sub
    &__sub {
        color: $dimmingColor;
        font-size: rem(14);
        line-height: math.div(15 ,14);
        text-align: center;

        @media (max-width:$mobileSmall){
             width: 135%;; 
        }  
    }
}

//====================================================================================================
//Git section:
.git-section {
    // .git-section__container
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: rem(125) rem(160) rem(60);

        @media (max-width:$tablet){
            padding: rem(125) rem(20) rem(70); 
        }
    }
    // .git-section__text
    &__text {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: rem(20);
        padding-bottom: rem(20);

        p {
            &:not(:last-child) {margin-bottom: rem(15)}
        }
    }
    // .git-section__value
    &__value {
        color: $mainColor;
        font-family: 'Lato';
        font-size: rem(21);
        line-height: math.div(32 ,21);

        @media (max-width:$mobileSmall){
             font-size: rem(14);
             line-height: math.div(21 ,14); 
        }
    }
    // .git-section__title
    &__title {
        color: $accentColor;
        font-size: rem(54);
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;

        @media (max-width:$mobile){
             font-size: rem(42); 
        }

        @media (max-width:$mobileSmall){
            font-size: rem(26); 
        }
    }
    // .git-section__buttons
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(10);
    }
}

//====================================================================================================
// Features section:
.features-section {
    // .features-section__container
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: rem(10);

        @media (max-width:$mobile){
            grid-template-columns: 1fr;
            
        }
    }
    // .features-section__advantages
    &__advantages {
        grid-column: 1;
        grid-row: 1 / 3;
        padding-right: rem(65);

        @media (max-width:$mobile){
             grid-column: 1;
             grid-row: 2;
             padding: rem(0) rem(25);
        }

        @media (max-width:$mobileSmall){
            padding: rem(0) rem(0); 
        }
    }
    // .features-section__label
    &__label {
        grid-column: 2;
        grid-row: 1;

        color: $accentColor;
        font-weight: 700;
        // font-size: rem(48);
        @include adaptiveValue("font-size", 48, 30, 0, 1200, 768);
        line-height: math.div(50, 48);
        height: rem(100);


        @media (max-width:$mobile){
            grid-column: 1;
            grid-row: 1;

            font-size: rem(42);
            line-height: math.div(44 ,42);
            text-align: center;
        }

        @media (max-width:$mobileSmall){
             font-size: rem(32);
             line-height: math.div(38 ,32); 
        }
    }
    // .features-section__reel
    &__reel {
        position: relative;
        grid-column: 2;
        grid-row: 1 / 3;

        img {
            width: auto;
            height: auto;
            max-height: 90%;
            position: absolute;
            top: 15%;
            left: 0;

            @media (max-width:$mobile){
                position: relative;
                max-height: 150%;
                max-width: 150%;
                top: 5%;
                left: 5%; 
            }

            @media (max-width:$mobileSmall){
                max-height: 200%;
                max-width: 200%;
                top: 0;
                left: 0; 
            }
        }

        @media (max-width:$mobile){
            grid-column: 1;
            grid-row: 3 \ 5;
        }
    }
}
.advantages {
    // .advantages__item
    &__item {
        display: flex;
        align-items: center;
        &:not(:last-child) {margin-bottom: rem(45);}

        @media (max-width:$mobileSmall){
             flex-direction: column;
             text-align: center;
        }
        
        img {
            max-width: 20%;
            height: auto; 
            padding-right: rem(20);

            @media (max-width:$tablet){
                max-width: 30%;
            }

            @media (max-width:$mobile){
                max-width: 15%; 
            }

            @media (max-width:$mobileSmall){
                 max-width: 40%; 
                 padding: rem(15) rem(0);
                 
            }
        }
    }
    // .advantages__title
    &__title {
        color: $mainColor;
        font-size: rem(16);
        line-height: math.div(21 , 16);
        padding-bottom: rem(16);
    }
    // .advantages__value
    &__value {
        color: $dimmingColor;
        font-size: rem(14);
        line-height: math.div(21 ,14);
    }
}

//====================================================================================================
// About section:
.about-section {
    background: url("@img/img-decor-1.jpg") no-repeat center center / cover;
    padding-top: rem(100);
    padding-bottom: rem(20);
    // .about-section__container
    &__container {
        text-align: center;
    }
    // .about-section__title
    &__title {
        color: $reverseColor;
        font-size: rem(48);
        font-weight: 700;
        line-height: math.div(50 ,48);

        @media (max-width:$tablet){
                font-size: rem(42);
                line-height: math.div(44 ,42);  
        }

        @media (max-width:$mobileSmall){
            font-size: rem(36);
            line-height: math.div(48 ,36); 
        }
        

    }
    // .about-section__feedback
    &__feedback {
        padding: rem(80) rem(0) rem(115);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: rem(20);
    }
    // .about-section__credits
    &__credits {
        position: relative;
        font-family: "Lato";
        color: #A291A5;
        font-size: rem(14);
        line-height: math.div(21 ,14);
    }
    &__credits::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20%;
        width: 90%;
        height: 1px;
        background-color: #A291A5;
    }
}
.feedback {
    // .feedback__item
    &__item {
        width: 30%;

        @media (max-width:$mobile){
            width: 45%; 
        }
        @media (max-width:$mobileSmall){
            width: 100%;  
        }
    }
    // .feedback__logo
    &__logo {
        height: rem(60);
    }
    // .feedback__text
    &__text {
        font-family: "Lato";
        color: $reverseColor;
        font-style: italic;
        font-size: rem(16);
        line-height: math.div(24 ,16);
        font-weight: 700;
        padding-top: rem(30);
    }
}
