//====================================================================================================
.page {

    // .page__intro
    &__intro {
        position: relative;
        background: black url("@img/main-intro.jpg") no-repeat center center;
        background-size: contain;
        min-height: 70vh;

        @media (max-width:$mobileSmall){
            background-position: center 60%;
        }
    }
}

.intro-section {

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(15);
        // padding-top: rem(50);
        @include adaptiveValue("padding-top", 180, 30, 0, 3840, 1500);
    
        @media (max-width:$mobile){
            padding-top: rem(75);
        }
        // .title__label
        &__label {
            color: $reverseColor;
            font-size: rem(82);
            font-weight: 700;
            line-height: 1;
            
    
            @media (max-width:$mobile){
                font-size: rem(72);
            }
            @media (max-width:$mobileSmall){
                font-size: rem(48);
            }
        }
        // .title__value
        &__value {
            color: $accentColor;
            font-family: Lato;
            font-size: rem(30);
            font-weight: 400;
            line-height: 1;
            text-align: center;
            
            @media (max-width:$mobile){
                font-size: rem(24);
            }
            @media (max-width:$mobileSmall){
                font-size: rem(18);
                line-height: math.div(24 ,18);
            }
    
            // .title__value_sub
            &_sub {
                color: $dimmingColor;
                font-family: Montserrat;
                font-size: rem(16);
                font-weight: 400;
                line-height: 1;
    
                @media (max-width:$mobile){
                    font-size: rem(14);
                }
            }
        }
    }
    
    // .intro-section__action
    &__action {
        position: absolute;
        bottom: rem(-65);
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(19);
        

    }
    // .intro-section__button
    &__button {
        
        color: $reverseColor;
        font-size: rem(21);
        font-weight: 700;
        line-height: math.div(22 ,21);
        text-align: center;
        background-color: $accentColor;
        border-radius: rem(40);
        padding: rem(20);
        width: 120%;
        transition: all 0.2s ease 0s;
        

        @media (max-width:$mobile){
             font-size: rem(18);
        }

        @media (max-width:$mobileSmall){
            font-size: rem(16);
            width: 180%;
       }

       @media (any-hover: hover){
        &:hover{
            background-color: $reverseColor;
            color: $accentColor;
            border: 1px solid $dimmingColor;
        }
       }
    }
    // .intro-section__sub
    &__sub {
        color: $dimmingColor;
        font-size: rem(14);
        line-height: math.div(15 ,14);

        @media (max-width:$mobileSmall){
             width: 135%;; 
        }  
    }
}



//====================================================================================================
//Git section:

.git-section {


    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: rem(125) rem(20) rem(70) rem(20);
    }
    // .git-section__text
    &__text {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: rem(20);
        padding-bottom: rem(20);

        p {
            &:not(:last-child) {margin-bottom: rem(15)}
        }
    }
    // .git-section__value
    &__value {
        color: $mainColor;
        font-family: 'Lato';
        font-size: rem(21);
        line-height: math.div(32 ,21);

        @media (max-width:$mobileSmall){
             font-size: rem(14);
             line-height: math.div(21 ,14); 
        }
    }
    // .git-section__title
    &__title {
        color: $accentColor;
        font-size: rem(54);
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;

        @media (max-width:$mobile){
             font-size: rem(42); 
        }

        @media (max-width:$mobileSmall){
            font-size: rem(26); 
        }
    }
    // .git-section__buttons
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(10);
    }
}
.about {
    // .about__github-button--watch
    &__github-button--watch {
    }
    // .about__github-button--star
    &__github-button--star {
    }
    // .about__github-button--fork
    &__github-button--fork {
    }
}
.github-button {
}
